@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sponsor-logo {
    @apply w-16 h-4 mx-2 md:w-32 md:h-9;
  }
  .percentage {
    @apply font-body font-bold text-5xl text-white leading-10
  }
  .percent {
    @apply text-left;
  }
  .sub-head {
    @apply font-body font-semibold leading-5 text-white my-7;
  }
}


*{
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#5d38ce;
}


.sponsor-div img{
  padding-right: 2.6rem;
}
/*feature section*/
.key-features{
  margin-top: 3rem;
}
.feature-div p {
  text-align: center;
  font-size: 18px;
}

.feature-div h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.plus{
position: absolute;
right: 8rem;
}
.sec-one{
  display: flex;
  padding-left: 4rem;
}
.hourglass{
  background: #e9e6f9;
  height: 28.4rem;
  position: relative;
  top: 4.5rem;
  border-radius: 12px;
}
.hourglass img{
  height: 287px;
  translate: 0 10rem;
}
